<h3>Dog Park Dog Owner Registry, Spring 2014</h3>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Dog Name</th>
  </tr>
  <% @owners.each do |owner| %>
    <tr>
      <td><%= owner.first_name %></td>
      <td><%= owner.last_name %></td>
      <td><%= owner.email %></td>
      <td><%= owner.dog_name %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Register", new_owner_path %></p>