<h3>Add Dog Owner</h3>

<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %>

<%= simple_form_for @owner do |f| %>
  <%= f.input :first_name, label: 'First Name', input_html: { size: 30 } %>
  <%= f.input :last_name, label: 'Last Name', input_html: { size: 30 }  %>
  <%= f.input :dog_name, label: 'Dog Name', input_html: { size: 30 }  %>
  <%= f.input :email, input_html: { size: 30 }  %>
  <%= f.button :submit, 'Create Dog Owner' %>
<% end %>

<h5><%= link_to "Back to Registry", owners_path %></h5>